@import '../scss/style';

.top-nav{
  
    width: 1217px;
    height: 83px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    padding: 0 20px;
    display: flex;
   .top-nav-container{
    display: flex;
    width: 100%;
    .logo-header{
        @include flex-center;
        img{
            height:33px;
            width: 33px;
            margin: 0 10px;
        }
    }
    ul{
        @include flex-center;
            li{
                padding: 20px;
               color: $text-secondary;
                &:active {
                    color:$text-primary;
                }
                
                &[tabindex]:focus {
                    color:$text-primary;
                    outline: none;
                }
                Share
                
                .Dropdown-control{
                    border: none;

                } 
                
            }
        
        
            
        }
        .user-profile{
            display: flex;
            align-items: center;
            margin-left: auto;
            .user-info{
                padding: 0 10px;
                .sub-title{
                    color: $text-secondary;
                }
            }
            i{
                padding-left: 10px;
            }
        }
    }
   }

