@import '../scss/style';
.top-section{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    width: 1217px;
height: 127px;
padding:25px 23px ;
    .select{
        display: flex;
        i{
            padding: 5px 20px;
        }
    }
    .sections{
        display: flex;
        padding-top: 20px;
        .section{
         
            display: flex;
            align-items: center;
            color:white;
            background-color: $text-secondary;
            margin-right: 20px;
            border-radius: 4px;
            &:hover{
                background-color: $light-blue;
                
            }
            .icon{
                padding: 5px 5px 0;
                color: white;
                filter: contrast(10);
            }
            .sub-title{
                padding: 0 5px;
               font-size: 14px;
            }
        }
    }
}